In [1]:
#importing libs
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [2]:
#Creating the dataframe
df = pd.read_csv("C:/Users/facla/Documents/CursoPython/Cap11/pima-data.csv")

In [3]:
df.shape

(768, 10)

In [4]:
df.head(5)

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72,35,0,33.6,0.627,50,1.3780,True
1,1,85,66,29,0,26.6,0.351,31,1.1426,False
2,8,183,64,0,0,23.3,0.672,32,0.0000,True
3,1,89,66,23,94,28.1,0.167,21,0.9062,False
4,0,137,40,35,168,43.1,2.288,33,1.3790,True

In [5]:
#Checking for null values
df.isnull().values.any()

False

In [6]:
#Adicionar linha vazia para teste
#df = df.append(pd.Series(), ignore_index=True)

In [7]:
df.isnull()

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False,False

In [8]:
#Remoce linha vazia
#if df.isnull().values.any():
 #   df = df.dropna()

In [9]:
#verificando missing value 
print("# Linhas no dataframe {0}".format(len(df))) 
print("# Linhas missing em glucose_conc {0}".format(len(df.loc[df['glucose_conc'] == 0]))) 
print("# Linhas missing em diastolic_bp {0}".format(len(df.loc[df['diastolic_bp'] == 0]))) 
print("# Linhas missing em thickness {0}".format(len(df.loc[df['thickness'] == 0]))) 
print("# Linhas missing em insulin {0}".format(len(df.loc[df['insulin'] == 0]))) 
print("# Linhas missing em bmi {0}".format(len(df.loc[df['bmi'] == 0]))) 
print("# Linhas missing em age {0}".format(len(df.loc[df['age'] == 0])))

# Linhas no dataframe 768
# Linhas missing em glucose_conc 5
# Linhas missing em diastolic_bp 35
# Linhas missing em thickness 227
# Linhas missing em insulin 374
# Linhas missing em bmi 11
# Linhas missing em age 0

In [10]:
pd.crosstab(index=df['diabetes'], columns='count')

col_0     count
diabetes
False       500
True        268

In [11]:
import sklearn as sk
from sklearn.model_selection import train_test_split
#usando todas as variáveis como preditivas ["num_preg",	"glucose_conc",	"diastolic_bp",	"thickness", "insulin",	"bmi", "diab_pred", "age", "skin"]

# diabetes é variável alvo
Y = df["diabetes"].values

In [12]:
df_train, df_test, y_train, y_teste = train_test_split(df, Y, test_size=0.25, random_state = 42, shuffle = True)

#Passando as features
features = ["num_preg", "glucose_conc", "diastolic_bp", "thickness", "insulin",	"bmi", "diab_pred", "age"]
X_train = df_train[features]
X_test = df_test[features]
X_test.head(5)

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age
668,6,98,58,33,190,34.0,0.430,43
324,2,112,75,32,0,35.7,0.148,21
624,2,108,64,0,0,30.8,0.158,21
690,8,107,80,0,0,24.6,0.856,34
473,7,136,90,0,0,29.9,0.210,50

In [13]:
#Using Impute to substitute missing values 
from sklearn.impute import SimpleImputer

impute_0_to_mean = SimpleImputer(missing_values = 0, strategy = "mean")

X_train = pd.DataFrame(impute_0_to_mean.fit_transform(X_train))
X_test = pd.DataFrame(impute_0_to_mean.fit_transform(X_test))
type(X_test)
X_test.head(100)

           0      1     2          3           4     5      6     7
0   6.000000   98.0  58.0  33.000000  190.000000  34.0  0.430  43.0
1   2.000000  112.0  75.0  32.000000  159.542553  35.7  0.148  21.0
2   2.000000  108.0  64.0  30.751938  159.542553  30.8  0.158  21.0
3   8.000000  107.0  80.0  30.751938  159.542553  24.6  0.856  34.0
4   7.000000  136.0  90.0  30.751938  159.542553  29.9  0.210  50.0
..       ...    ...   ...        ...         ...   ...    ...   ...
95  1.000000  144.0  82.0  40.000000  159.542553  41.3  0.607  28.0
96  9.000000  106.0  52.0  30.751938  159.542553  31.2  0.380  42.0
97  2.000000   83.0  65.0  28.000000   66.000000  36.8  0.629  24.0
98  4.778443  177.0  60.0  29.000000  478.000000  34.6  1.072  21.0
99  7.000000   62.0  78.0  30.751938  159.542553  32.6  0.391  41.0

[100 rows x 8 columns]

In [14]:
#Primeiro Modelo (RandomForest)
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X_train, y_train)
predictions = model.predict(X_test)
from sklearn import metrics
print("{0:.4f}".format(metrics.accuracy_score(y_teste, predictions)))

0.7344

In [15]:
#output the prediction to a csv
output = pd.DataFrame({'PersonId': X_test.index, 'diabetes': predictions})
output.to_csv('submission.csv', index=False)

In [16]:
#Segundo modelo (GaussianNB() / naive Bayes)
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
y_pred_gnb = gnb.fit(X_train, y_train).predict(X_test)
print("{0:.4f}".format(metrics.accuracy_score(y_teste, y_pred_gnb)))

0.7240

In [22]:
#Terceiro modelo (Regressão Logística)
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(C = 0.7, random_state = 42, max_iter = 160)
lr.fit(X_train, y_train)
lr_prediction = lr.predict(X_test)
print("{0:.4f}".format(metrics.accuracy_score(y_teste, lr_prediction)))

0.7292